@model Hotel_Booking_System.Models.Booking_Report_View
@{
    ViewBag.Title = "Booking_Report";
}




<style>
    .price::before {
        content: '€'
    }

    .price::after {
        content: '.00';
        font-size: 19px;
    }
</style>
<div class="col-md-100">

    <table class="table table-dark table-striped">
        <thead>
            <tr>
                <th>Client Name</th>
                <th>Hotel Category</th>
                <th>Rooms</th>
                <th>Room Type</th>
                <th>Total Price </th>
                <th>Total Price After Discount </th>
                <th>Avaliability </th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.booking_Report_List)
            {
            <tr>
                <td>@item.Client_Name</td>
                <td>@item.Hotel_Category</td>
                <td>@item.Room_no</td>
                <td>@item.Room_Type</td>
                <td>@item.Total_Price</td>
                <td>@item.Total_Price_After_Discount</td>
                <td>@item.Avaliability</td>

            </tr>
            }
        </tbody>
    </table>



</div>














